<div class="top-page">
  <div class="container-fluid text-center">
    <%= image_tag 'logo.png', width: "700", class: "logo" %>
    <h4 class="font-weight-bold">病児保育施設ネット予約サービス</h4>
    <p>あんしんキッズは予約をオンライン化することで保護者と行政の事務担当者の負担を軽減します。</p> 
    <%= image_tag 'children.png', width: "700", class: "top-image" %>
  </div>
  <% unless user_signed_in? %>
  <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
  <div class="btn-group dropup">
    <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ゲストログイン
    </button>
    <div class="dropdown-menu">
  <%= link_to '保護者', users_guest_sign_in_path, method: :post, class: "dropdown-item" %>
  <%= link_to '窓口担当者（管理者）', users_guest_clerk_sign_in_path, method: :post, class: "dropdown-item" %>
  <%= link_to '保育士', users_guest_childminder_sign_in_path, method: :post, class: "dropdown-item" %>
  </div>
  <% end %>
</div>
</div>
