<%= form_with(model: @child, local: true ,url: choose_new_or_edit_child ) do |form| %>

<div class="field">
  <%= form.label :family_name %><br />
  <%= form.text_field :family_name %>
</div>

<div class="field">
  <%= form.label :first_name %><br />
  <%= form.text_field :first_name %>
</div>

<div class="field">
  <%= form.label :family_name_kana %><br />
  <%= form.text_field :family_name_kana %>
</div>

<div class="field">
  <%= form.label :first_name_kana %><br />
  <%= form.text_field :first_name_kana %>
</div>

  <div class="child_gender">
    <%= form.label :gender %>
    <%= form.select :gender, [["男", "男"], ["女", "女"], ["その他", "その他"]], include_blank: "選択して下さい" %>
  </div>

  <div class="child_other_gender">
    <%= form.label :other_gender %>
    <%= form.text_field :other_gender %>
  </div>

  <div class="child_birth">
    <%= form.label :birth %>
    <%= form.date_select :birth, start_year: 2011, end_year: Time.current.year, use_month_numbers: true %>
  </div>

  <div class="child_image">
    <%= form.label :image %>
    <%= image_tag(@child.image.url) if @child.image && @child.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <%= form.submit %>
<% end %>
