<div class="container">
  <% if @child.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@child.errors.count, t('view.error')) %></h2>

    <ul>
      <% @child.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= form_with(model: @child, local: true ) do |form| %>

  <%= form.fields_for :names do |name| %>
  <div class="form-row text-left">
    <div class="form-group col-sm-6">
      <%= name.label :family_name %>
      <%= name.text_field :family_name, placeholder: '安心', class: "form-control"  %>
    </div>
    <div class="form-group col-sm-6">
      <%= name.label :first_name %>
      <%= name.text_field :first_name, placeholder: '次郎', class: "form-control"  %>
    </div>
    <div class="form-group col-sm-6">
      <%= name.label :family_name_kana %>
      <%= name.text_field :family_name_kana, placeholder: 'あんしん', class: "form-control" %>
    </div>
    <div class="form-group col-sm-6">
      <%= name.label :first_name_kana %>
      <%= name.text_field :first_name_kana, placeholder: 'じろう', class: "form-control" %>
    </div>
    <% end %>

    <div class="form-group col-sm-12">
      <%= form.label :gender %>
      <%= form.select :gender, [["男", "男"], ["女", "女"], ["その他の性別", "その他の性別"]], {include_blank: "選択して下さい"}, { class: 'custom-select', id: "gender" } %>
    </div>

    <div class="form-group col-sm-12">
        <%= form.label :other_gender %>
        <%= form.text_field :other_gender, class: "form-control", id: "other_gender", disabled: true %>
    </div>

    <div class="form-group col-sm-12">
      <%= form.label :birth %>
      <div class="form-inline">
        <div class="mx-auto">
          <%= form.date_select :birth, {start_year: 2011, end_year: Time.current.year, use_month_numbers: true}, { class: 'form-control '} %>
        </div>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <%= form.label :image %>
      <%= form.file_field :image, class: "form-control-file" %>
    </div>

    <div class="form-group col-sm-12">
      <%= form.submit "登録", class: "btn btn-primary btn-block" %>
    </div>
  </div>
  <% end %>
</div>
