<h3>以下の内容で登録してもよろしいですか？</h3>
<%= form_with(model: @child, local: true) do |form| %>
  <%= form.hidden_field :family_name %>
  <%= form.hidden_field :first_name %>
  <%= form.hidden_field :family_name_kana %>
  <%= form.hidden_field :first_name_kana %>
  <%= form.hidden_field :gender %>
  <%= form.hidden_field :other_gender %>
  <%= form.hidden_field :birth %>

  <p><%= t('view.family_name') %>: <%= @child.people.family_name %></p>
  <p><%= t('view.first_name') %>: <%= @child.people.first_name %></p>
  <p><%= t('view.family_name_kana') %>: <%= @child.family_name_kana %></p>
  <p><%= t('view.first_name_kana') %>: <%= @child.first_name_kana %></p>
  <p><%= t('view.gender') %>: <%= @child.gender %></p>
  <p><%= t('view.other_gender') %>: <%= @child.other_gender %></p>
  <p><%= t('view.birth') %>: <%= @child.birth %></p>

  <p><%= image_tag(@child.image.url) if @child.image && @child.image.url %></p>
  <p><%= form.hidden_field :image_cache %></p>

  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
