<div class="container">
  <p class="font-weight-bold"><i class="far fa-smile"></i>お子様情報</p>
  <%= render 'shared/flash_messages' %>

  <% @children.each do |child| %>
  <div class="card">
    <%= link_to child_path(child.id) do %>
    <div class="card-body d-flex justify-content-center">
      <div class="face-photo">
        <%= image_tag child.image.url, class: "card-img-top" %>
      </div>
      <% child.names.each do |name| %>
      <h5 class="card-title m-3">
        <%= name.family_name %>　<%= name.first_name %>
        <span class="small">
          <% if child.other_gender.present? %>
          （<%= child.other_gender %>）
          <% else %>
          （<%= child.gender %>）
          <% end %>
        </span>
        <p class="small"><%= name.family_name_kana %>　<%= name.first_name_kana %></p>
        <% end %>
      </h5>
    </div>
  </div>
  <% end %>
  <% end %>
  <%= paginate @children %>
  <%= link_to 'お子様情報を追加する', new_child_path, class: "btn btn-primary btn-lg btn-block" %>
</div>
