<div class="container">
  <h2>お子様情報詳細画面</h2>
  <%= render 'shared/flash_messages' %>

  <div class="card">
    <div class="face-photo">
      <%= image_tag @child.image.url, class: "card-img-top" %>
    </div>
    <div class="card-body">
      <% @child.names.each do |name| %>
      <h4 class="card-title"><%= name.family_name %>　<%= name.first_name %></h4>
      <class="card-text">
      <p><%= name.family_name_kana %> <%= name.first_name_kana %></p>
      <% end %>

      <p><i class="fas fa-venus-mars mr-1"></i><%= @child.gender %></p>
      <p><%= @child.other_gender %></p>
      <p><i class="fas fa-birthday-cake mr-1"></i><%= @child.birth.strftime("%Y年%m月%d日") %>生まれ</p>
    </div>
  </div>
  <%= link_to "予約申込みへ", new_reservation_path, class: 'btn btn-outline-primary' %>
</div>
