<h1>お子様情報詳細画面</h1>

<% @child.names.each do |name| %>
<p><%= t('view.family_name') %>: <%= name.family_name %></p>
<p><%= t('view.first_name') %>: <%= name.first_name %></p>
<p><%= t('view.family_name_kana') %>: <%= name.family_name_kana %></p>
<p><%= t('view.first_name_kana') %>: <%= name.first_name_kana %></p>
<% end %>

<p><%= t('view.gender') %>: <%= @child.gender %></p>
<p><%= t('view.birth') %>: <%= @child.birth %></p>
<p class="show_image"><strong><%= t('view.image') %>:</strong></p>
<p><%= image_tag @child.image.url %></p>
<%= link_to "一覧へ戻る", reservations_path %>
