<h3>以下の内容で登録してもよろしいですか？</h3>
<%= form_with(model: @contact_information, local: true) do |form| %>
  <%= form.hidden_field :family_name %>
  <%= form.hidden_field :first_name %>
  <%= form.hidden_field :family_name_kana %>
  <%= form.hidden_field :first_name_kana %>
  <%= form.hidden_field :relation %>
  <%= form.hidden_field :other_relation %>
  <%= form.hidden_field :phone_number %>

  <p><%= t('view.family_name') %>: <%= @user.family_name %></p>
  <p><%= t('view.first_name') %>: <%= @user.first_name %></p>
  <p><%= t('view.family_name_kana') %>: <%= @user.family_name_kana %></p>
  <p><%= t('view.first_name_kana') %>: <%= @user.first_name_kana %></p>
  <p><%= t('view.relation') %>: <%= @contact_information.relation %></p>
  <p><%= t('view.other_relation') %>: <%= @contact_information.other_relation %></p>
  <p><%= t('view.phone_number') %>: <%= @contact_information.phone_number %></p>

  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
