<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="mr-auto">
      <%= link_to reservations_path, class: "navbar-brand" do %>
      <i class="fas fa-home"></i>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="menu">
      <% if user_signed_in? %>
      <ul class="navbar-nav text-right">
        <% if current_user.try(:admin?)%>
        <li class="nav-item">
          <%= link_to "管理者画面へ", admin_users_path, class: "nav-link active" %>
        </li>
        <% end %>
        <li class="nav-item">
          <%= link_to new_reservation_path do %>
          <div class="nav-link active"><i class="fas fa-book"></i>予約</div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to contacts_path do%>
          <div class="nav-link active"><i class="far fa-smile"></i>保護者</div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to children_path do%>
          <div class="nav-link active"><i class="fas fa-child mr-1"></i>お子様</div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to user_path(current_user.id) do%>
          <div class="nav-link active"><i class="fas fa-user-circle"></i>アカウント設定</div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link active text-black-50' %>
        </li>
      </ul>
    </div>
    <% else %>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to "ログイン", new_user_session_path, class: "nav-link active" %>
      </li>
    </ul>
    <% end %>
  </nav>
</header>
