<%= form_with(model: @contact, local: true ) do |form| %>

<%= form.fields_for :names do |name| %>
<div class="contact_family_name">
  <%= name.label :family_name %>
  <%= name.text_field :family_name %>
</div>
<div class="contact_family_name">
  <%= name.label :first_name %>
  <%= name.text_field :first_name %>
</div>
<div class="contact_family_name">
  <%= name.label :family_name_kana %>
  <%= name.text_field :family_name_kana %>
</div>
<div class="contact_family_name">
  <%= name.label :first_name_kana %>
  <%= name.text_field :first_name_kana %>
</div>
<% end %>

<div class="contact_relation">
  <%= form.label :relation %>
  <%= form.text_field :relation %>
</div>
<div class="contact_phone_number">
  <%= form.label :phone_number %>
  <%= form.telephone_field :phone_number %>
</div>
<div class="contact_postal_code">
  <%= form.label :postal_code %>
  <%= form.text_field :postal_code %>
</div>
<div class="contact_prefecture">
  <%= form.label :prefecture %>
  <%= form.text_field :prefecture %>
</div>
<div class="contact_city">
  <%= form.label :city %>
  <%= form.text_field :city %>
</div>
<div class="contact_adress">
  <%= form.label :adress %>
  <%= form.text_field :adress %>
</div>
<div class="contact_building">
  <%= form.label :building %>
  <%= form.text_field :building %>
</div>
<div class="contact_image">
  <%= form.label :image %>
  <%= form.file_field :image %>
</div>

<%= form.submit %>
<% end %>
