<div class="container">
  <% if @contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@contact.errors.count, t('view.error')) %></h2>

    <ul>
      <% @contact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= form_with(model: @contact, local: true ) do |form| %>

  <%= form.fields_for :names do |name| %>
  <div class="form-row">
    <div class="form-group col-sm-6">
      <%= name.label :family_name %>
      <%= name.text_field :family_name, placeholder: '安心', class: "form-control"  %>
    </div>
    <div class="form-group col-sm-6">
      <%= name.label :first_name %>
      <%= name.text_field :first_name, placeholder: '太郎', class: "form-control"  %>
    </div>
    <div class="form-group col-sm-6">
      <%= name.label :family_name_kana %>
      <%= name.text_field :family_name_kana, placeholder: 'あんしん', class: "form-control" %>
    </div>
    <div class="form-group col-sm-6">
      <%= name.label :first_name_kana %>
      <%= name.text_field :first_name_kana, placeholder: 'たろう', class: "form-control" %>
    </div>
    <% end %>

    <div class="form-group col-sm-12">
      <%= form.label :relation %>
      <%= form.select :relation, [["父", "父"], ["母", "母"], ["その他", "その他"]], {include_blank: "選択して下さい"}, { class: 'custom-select', id: "relation" } %>
    </div>
    <div class="form-group col-sm-12">
        <%= form.label :other_relation %>
        <%= form.text_field :other_relation, placeholder: '祖父', class: "form-control", id: "other_relation", disabled: true %>
    </div>
    <div class="form-group col-sm-12">
      <%= form.label :phone_number %>
      <%= form.telephone_field :phone_number, placeholder: '0312345678', class: "form-control" %>
    </div>
    <div class="form-group col-sm-12">
      <%= form.label :postal_code %>
      <%= form.text_field :postal_code, placeholder: '1234567', class: "form-control" %>
    </div>
    <div class="form-group col-sm-12">
      <%= form.label :prefecture %>
      <%= form.text_field :prefecture, placeholder: '北海道', class: "form-control" %>
    </div>
    <div class="form-group col-sm-12">
      <%= form.label :city %>
      <%= form.text_field :city, class: "form-control" %>
    </div>
    <div class="form-group col-sm-12">
      <%= form.label :adress %>
      <%= form.text_field :adress, class: "form-control" %>
    </div>
    <div class="form-group col-sm-12">
      <%= form.label :building %>
      <%= form.text_field :building, class: "form-control" %>
    </div>
    <div class="form-group col-sm-12">
      <%= form.label :image %>
      <%= form.file_field :image, class: "form-control-file" %>
    </div>

    <div class="form-group col-sm-12">
      <%= form.submit "登録", class: "btn btn-primary btn-block" %>
    </div>
  </div>
  <% end %>
</div>
