<div class="container">
  <p class="font-weight-bold"><i class="far fa-smile"></i>保護者情報</p>
  <%= render 'shared/flash_messages' %>

  <% @contacts.each do |contact| %>
  <div class="card">
    <%= link_to contact_path(contact.id) do %>
    <div class="card-body d-flex justify-content-center">
    <div class="face-photo">
      <%= image_tag contact.image.url, class: "card-img-top" %>
    </div>

      <% contact.names.each do |name| %>
      <h5 class="card-title m-3">
        <%= name.family_name %>　<%= name.first_name %>
        <span class="small">
          <% if contact.other_relation.present? %>
          （<%= contact.other_relation %>）
          <% else %>
          （<%= contact.relation %>）
          <% end %>
        </span>
        <p class="small"><%= name.family_name_kana %>　<%= name.first_name_kana %></p>
        <% end %>
      </h5>
    </div>
  </div>
  <% end %>
  <% end %>
  <%= paginate @contacts %>
  <%= link_to '連絡先を追加する', new_contact_path, class: "btn btn-primary btn-lg btn-block" %>
</div>
