<div class="container">
  <p class="font-weight-bold">保護者の詳細情報</p>
  <%= render 'shared/flash_messages' %>

  <div class="card">
    <div class="face-photo border-bottom">
      <%= image_tag @contact.image.url, class: "card-img-top" %>
    </div>

    <div class="card-body">
      <% @contact.names.each do |name| %>
      <h5 class="card-title border-bottom" >
        <%= name.family_name %>　<%= name.first_name %>
        <span class="small">
          <% if @contact.other_relation.present? %>
          （<%= @contact.other_relation %>）
          <% else %>
          （<%= @contact.relation %>）
          <% end %>
        </span>
        <p class="small"><%= name.family_name_kana %>　<%= name.first_name_kana %></p>
        <% end %>
      </h5>

      <div class="card-text text-left">
        <div class="border-bottom" >
          <p class="font-weight-bold">連絡先</p>
          <p><i class="fas fa-phone mr-1"></i><%= @contact.phone_number %></p>
        </div>
        <div class="border-bottom" >
          <p class="font-weight-bold">住所</p>
          <p><a class="font-weight-bold mr-1">〒</a><%= @contact.postal_code %></p>
          <p>
            <i class="fas fa-home mr-1"></i><%= @contact.prefecture %><%= @contact.city %><%= @contact.adress %><%= @contact.building %>
          </p>
        </div>
      </div>
      <p><%= link_to t('view.edit'), edit_contact_path(@contact.id), data: { confirm: '本当に変更していいですか？' }, class: "btn btn-outline-danger mt-3" %></p>
    </div>
  </div>
  <%= link_to "お子様情報入力欄へ", new_child_path, class: 'btn btn-danger' %>
</div>
