<div class="container">
  <p class="font-weight-bold">連絡先の情報</p>
  <%= render 'shared/flash_messages' %>

  <div class="card">
    <div class="face-photo">
      <%= image_tag @contact.image.url, class: "card-img-top" %>
    </div>

    <div class="card-body">
      <% @contact.names.each do |name| %>
      <h5 class="card-title">
        <%= name.family_name %>　<%= name.first_name %>
        <span class="small">
          <% if @contact.other_relation.present? %>
          （<%= @contact.other_relation %>）
          <% else %>
          （<%= @contact.relation %>）
          <% end %>
        </span>
      </h5>

      <class="card-text">
      <p><%= name.family_name_kana %>　<%= name.first_name_kana %></p>
      <% end %>
      <p><i class="fas fa-phone mr-1"></i><%= @contact.phone_number %></p>
      <p><a class="font-weight-bold mr-1">〒</a><%= @contact.postal_code %></p>
      <p>
        <i class="fas fa-home mr-1"></i><%= @contact.prefecture %><%= @contact.city %><%= @contact.adress %><%= @contact.building %>
      </p>
    </div>
    <p><%= link_to t('view.edit'), edit_contact_path(@contact.id), data: { confirm: '本当に変更していいですか？' }, class: "btn btn-outline-danger " %></p>
  </div>
  
  <%= link_to "お子様情報入力欄へ", new_child_path, class: 'btn btn-danger' %>
</div>
