<h1>保護者情報詳細画面</h1>

<% @contact.names.each do |name| %>
<p><%= t('view.family_name') %>: <%= name.family_name %></p>
<p><%= t('view.first_name') %>: <%= name.first_name %></p>
<p><%= t('view.family_name_kana') %>: <%= name.family_name_kana %></p>
<p><%= t('view.first_name_kana') %>: <%= name.first_name_kana %></p>
<% end %>

<p><%= t('view.relation') %>: <%= @contact.relation %></p>
<p><%= t('view.phone_number') %>: <%= @contact.phone_number %></p>
<p><%= t('view.postal_code') %>: <%= @contact.postal_code %></p>
<p><%= t('view.prefecture') %>: <%= @contact.prefecture %></p>
<p><%= t('view.city') %>: <%= @contact.city %></p>
<p><%= t('view.adress') %>: <%= @contact.adress %></p>
<p><%= t('view.building') %>: <%= @contact.building %></p>
<p class="show_image"><strong><%= t('view.image') %>:</strong></p>
<p><%= image_tag @contact.image.url, :size =>'135x180' %></p>

<p><%= link_to "お子様情報入力欄へ", new_child_path %></p>
<p><%= link_to "予約一覧へ", reservations_path %></p>
