<%= form_with(model: @reservation, local: true ) do |form| %>
  <div class="reservation_date">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>
  <div class="reservation_reason">
    <%= form.label :reason %>
    <%= form.select :reason, [["仕事", "仕事"], ["疾病", "疾病"]], include_blank: "選択して下さい" %>
  </div>
  
  <%= form.submit %>
<% end %>
<%= link_to "一覧へ戻る", reservations_path %>
