<div class="container">
  <p class="font-weight-bold"><i class="fas fa-book"></i>ただいまの予約</p>
  <%= render 'shared/flash_messages' %>

  <% unless current_user.user_type == "保護者" %>
  <%= search_form_for @q do |f| %>
  <div class="form-row text-left">
    <div class="form-group col-sm-6">
      <%= f.label :daycare_to_use_eq, '施設名' %>
      <%= f.collection_select :daycare_to_use_eq, Daycare.all, :name, :name, {:prompt => "選択して下さい"}, {class: 'custom-select'} %>
    </div>
    <div class="form-group col-sm-6">
      <%=f.label :status_eq, '予約状況' %>
      <%= f.select :status_eq, [['仮予約', 0], ['本予約', 1]], {:include_blank => '指定なし'}, {class: 'custom-select'} %>
    </div>
    <div class="form-group col-sm-12">
    <%= f.submit "検索", class: "btn btn-primary btn-block" %>
    </div>
  </div>
  <% end %>

  <%= sort_link(
  @q, :date, "日付並び替え",
  { date: :desc },
  { class: "btn btn-outline-success btn-block" }
  ) %>
  <% end %>

  <div class="text-left">
    <% @reservations.each do |reservation| %>
    <%= link_to reservation_path(reservation.id) do %>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><%= reservation.date.strftime("%Y年%m月%d日") %>
          <% if reservation.status == "仮予約" %>
          <span class="badge badge-pill badge-danger"><%= reservation.status %></span>
          <% else %>
          <span class="badge badge-pill badge-primary"><%= reservation.status %></span>
          <% end %>
        </h4>
        <h6 class="card-subtitle font-weight-bold"><%= reservation.daycare_to_use %></h6>
        <% end %>

        <%= link_to t('view.delete'), reservation_path(reservation.id), method: :delete ,data: { confirm: '本当に取り消していいですか？' }, class: "text-danger" %>
      </div>
    </div>
    <% end %>
  </div>
  <%= paginate @reservations %>
  <% if current_user.user_type == "保護者" %>
  <%= link_to '予約する', new_reservation_path, class: "btn btn-primary btn-lg btn-block" %>
  <% end %>
</div>
