<h1>予約一覧</h1>
<p><%= notice %></p>

<%= search_form_for @q do |f| %>
  <%= f.label :daycare_to_use_cont, '施設名' %>
  <%= f.search_field :daycare_to_use_cont %>
  <%=f.label :status_eq, '予約状況' %>
  <%= f.select :status_eq, [['仮予約', 0], ['本予約', 1]], :include_blank => '指定なし' %>
  <%= f.submit %>
<% end %>

  <table class="table table">
    <tr>
      <th><%= t('view.date') %></th>
      <th><%= t('view.reason') %></th>
      <th><%= t('view.daycare_to_use') %></th>
      <th><%= t('view.status') %></th>
    </tr>
    <% @reservations.each do |reservation| %>
    <tr>
      <td class="reservation_row">
        <%= reservation.date.strftime("%Y-%m-%d%H:%M") %>
      </td>
      <td><%= reservation.reason %></td>
      <td><%= reservation.daycare_to_use %></td>
      <td><%= reservation.status %></td>
      <td><%= link_to t('view.show'), reservation_path(reservation.id) %></td>
      <td><%= link_to t('view.edit'), edit_reservation_path(reservation.id), data: { confirm: '本当に編集していいですか？' } %></td>
      <td><%= link_to t('view.delete'), reservation_path(reservation.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
    <% end %>
  </table>
  <div class="new_reservation">
    <%= link_to '予約する', new_reservation_path %>
  </div>
