<div class="container">
  <h4>ただいまの予約</h4>
  <%= render 'shared/flash_messages' %>

  <% unless current_user.user_type == 0 %>
  <%= search_form_for @q do |f| %>
  <%= f.label :daycare_to_use_eq, '施設名' %>
  <%= f.collection_select :daycare_to_use_eq, Daycare.all, :name, :name, :prompt => "選択して下さい" %>
  <%=f.label :status_eq, '予約状況' %>
  <%= f.select :status_eq, [['仮予約', 0], ['本予約', 1]], :include_blank => '指定なし' %>
  <%= f.submit %>
  <% end %>

  <%= sort_link(
  @q, :date, "日付並び替え",
  { date: :desc },
  { class: "sort_link" }
  ) %>
  <% end %>

  <div class="text-left">
  <% @reservations.each do |reservation| %>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= reservation.date.strftime("%Y年%m月%d日") %></h4>
      <h6 class="card-subtitle mb-2 text-muted"><%= reservation.reason %></h6>
      <p class="card-text">
        <%= reservation.daycare_to_use %>
        <%= reservation.status %>
      </p>
      <%= link_to t('view.show'), reservation_path(reservation.id) %>
      <% unless current_user.user_type == 2 %>
      <%= link_to t('view.edit'), edit_reservation_path(reservation.id), data: { confirm: '本当に編集していいですか？' } %>
      <%= link_to t('view.delete'), reservation_path(reservation.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
</div>
