<h1>予約一覧</h1>
<%= render 'shared/flash_messages' %>

<% unless current_user.user_type == 0 %>
<%= search_form_for @q do |f| %>
  <%= f.label :daycare_to_use_eq, '施設名' %>
  <%= f.collection_select :daycare_to_use_eq, Daycare.all, :name, :name, :prompt => "選択して下さい" %>
  <%=f.label :status_eq, '予約状況' %>
  <%= f.select :status_eq, [['仮予約', 0], ['本予約', 1]], :include_blank => '指定なし' %>
  <%= f.submit %>
<% end %>

<%= sort_link(
      @q, :date, "日付並び替え",
      { date: :desc },
      { class: "sort_link" }
    ) %>
<% end %>

  <table class="table table">
    <tr>
      <th><%= t('view.date') %></th>
      <th><%= t('view.reason') %></th>
      <th><%= t('view.daycare_to_use') %></th>
      <th><%= t('view.status') %></th>
    </tr>
    <% @reservations.each do |reservation| %>
    <tr>
      <td class="reservation_row">
        <%= reservation.date.strftime("%Y年%m月%d日") %>
      </td>
      <td><%= reservation.reason %></td>
      <td><%= reservation.daycare_to_use %></td>
      <td><%= reservation.status %></td>
      <td><%= link_to t('view.show'), reservation_path(reservation.id) %></td>
      <% unless current_user.user_type == 2 %>
      <td><%= link_to t('view.edit'), edit_reservation_path(reservation.id), data: { confirm: '本当に編集していいですか？' } %></td>
      <td><%= link_to t('view.delete'), reservation_path(reservation.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
