<div class="container">
  <%= render 'shared/flash_messages' %>
  <p class="font-weight-bold"><i class="far fa-file-alt"></i>予約情報</p>

  <div class="card">
    <h3 class="card-title"><%= @reservation.date.strftime("%Y年%m月%d日") %>
      <% if @reservation.status == "仮予約" %>
      <span class="badge badge-pill badge-danger"><%= @reservation.status %></span>
      <% else %>
      <span class="badge badge-pill badge-primary"><%= @reservation.status %></span>
      <% end %>
    </h3>
    <div class="card-body text-left">
      <h6 class="card-subtitle font-weight-bold"><%= @reservation.daycare_to_use %></h6>
      <p><%= t('view.reason') %>: <%= @reservation.reason %></p>
      <p class="font-weight-bold">ご利用になるお子様のお名前</p>
        <p><%= @reservation.child_name %> 様</p>
        <p class="font-weight-bold mb-0">ご連絡先</p>
        <%# search_contactsはreservations_helpaerに定義 %>
      <% search_contacts.each do |contact| %>
      <h6 class="card-text border-bottom" >
        <%= contact.family_name %>　<%= contact.first_name %>
        <p class="small"><%= contact.family_name_kana %>　<%= contact.first_name_kana %></p>
        <p><i class="fas fa-phone mr-1"></i><%= contact.phone_number %></p>
        <% end %>
      </h6>
    </div>

    <% if current_user.user_type == "窓口担当者" %>
    <p><%= link_to t('view.edit'), edit_reservation_path(@reservation.id), data: { confirm: '本当に変更していいですか？' }, class: "btn btn-outline-danger btn-sm" %></p>
    <%= form_with(model: @reservation, local: true ) do |form| %>
    <div class="card-footer">
      <h6 class="card-subtitle font-weight-bold"><i class="fas fa-exclamation-triangle"></i>内容を確認し予約を確定して下さい</h6>
      <div class="form-row text-left">
        <div class="form-group col-sm-12">
          <%= form.label :status %>
          <%= form.select :status, [["仮予約", "仮予約"], ["本予約", "本予約"]], {include_blank: "選択して下さい"}, { class: 'custom-select' } %>
        </div>
        <%= form.submit "確定", class: "btn btn-primary btn-block" %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <br>

  <h6 class="font-weight-bold"><i class="far fa-comments"></i>コメント一覧</h6>
  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, reservation: @reservation } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, reservation: @reservation } %>
</div>
