<h1>予約詳細画面</h1>

<p><%= t('view.date') %>: <%= @reservation.date %></p>
<p><%= t('view.reason') %>: <%= @reservation.reason %></p>
<p><%= t('view.other_reason') %>: <%= @reservation.other_reason %></p>
<p><%= t('view.status') %>: <%= @reservation.status %></p>
<%= link_to "一覧へ戻る", reservations_path %>
