<div class="container">
  <p class="font-weight-bold"><i class="far fa-file-alt"></i>予約情報</p>
  <p id="notice"><%= notice %></p>

  <div class="card">
    <h3 class="card-title"><%= @reservation.date.strftime("%Y年%m月%d日") %>
      <span class="badge badge-pill badge-primary"><%= @reservation.status %></span>
    </h3>
    <div class="card-body text-left">
      <h6 class="card-subtitle font-weight-bold"><%= @reservation.daycare_to_use %></h6>
      <p><%= t('view.reason') %>: <%= @reservation.reason %></p>
      </div>
      <% if current_user.user_type == 1 %>
      <p><%= link_to t('view.edit'), edit_reservation_path(@reservation.id), data: { confirm: '本当に変更していいですか？' }, class: "btn btn-outline-danger btn-sm" %></p>
      <%= form_with(model: @reservation, local: true ) do |form| %>
      <div class="card-footer">
        <h6 class="card-subtitle font-weight-bold"><i class="fas fa-exclamation-triangle"></i>内容を確認し予約を確定して下さい</h6>
        <div class="form-row text-left">
          <div class="form-group col-sm-12">
            <%= form.label :status %>
            <%= form.select :status, [["仮予約", "仮予約"], ["本予約", "本予約"]], {include_blank: "選択して下さい"}, { class: 'custom-select' } %>
          </div>
          <%= form.submit "確定", class: "btn btn-primary btn-block" %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <h6 class="font-weight-bold"><i class="far fa-comment"></i>保護者よりコメント</h6>
  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, reservation: @reservation } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, reservation: @reservation } %>
</div>
