<h1>予約詳細画面</h1>

<div class="container">
  <p id="notice"><%= notice %></p>
<button type="button" class = "btn"><%= link_to "予約一覧へ", reservations_path %></button>

<p><%= t('view.date') %>: <%= @reservation.date.strftime("%Y年%m月%d日") %></p>
<p><%= t('view.reason') %>: <%= @reservation.reason %></p>
<p><%= t('view.daycare_to_use') %>: <%= @reservation.daycare_to_use %></p>
<p><%= t('view.status') %>: <%= @reservation.status %></p><br>

<% if current_user.user_type == 1 %>
<%= form_with(model: @reservation, local: true ) do |form| %>
<div class="reservation_status">
  <h4>内容を確認し予約を確定して下さい</h4>
  <%= form.label :status %>
  <%= form.select :status, [["仮予約", "仮予約"], ["本予約", "本予約"]], include_blank: "選択して下さい" %>
</div>
<%= form.submit "確定" %>
<% end %>
<% end %>

<br>
<h4>保護者よりコメント</h4>
<!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
<div id="comments_area">
  <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/index', locals: { comments: @comments, reservation: @reservation } %>
</div>
<!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
<%= render partial: 'comments/form', locals: { comment: @comment, reservation: @reservation } %>
</div>
