<%= form_with(model: @parent, local: true ) do |form| %>

  <div class="parent_family_name">
    <%= form.label :family_name %><br />
    <%= form.text_field :family_name %>
  </div>

  <div class="parent_first_name">
    <%= form.label :first_name %><br />
    <%= form.text_field :first_name %>
  </div>

  <div class="parent_family_name_kana">
    <%= form.label :family_name_kana %><br />
    <%= form.text_field :family_name_kana %>
  </div>

  <div class="parent_first_name_kana ">
    <%= form.label :first_name_kana %><br />
    <%= form.text_field :first_name_kana %>
  </div>

  <div class="parent_relation">
    <%= form.label :relation %>
    <%= form.select :relation, [["父", "父"], ["母", "母"]], include_blank: "選択して下さい" %>
  </div>
  <div class="parent_phone_number">
    <%= form.label :phone_number %>
    <%= form.telephone_field :phone_number %>
  </div>
  <div class="parent_postal_code">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>
  <div class="parent_prefecture">
    <%= form.label :prefecture %>
    <%= form.text_field :prefecture %>
  </div>
  <div class="parent_city">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>
  <div class="parent_adress">
    <%= form.label :adress %>
    <%= form.text_field :adress %>
  </div>
  <div class="parent_building">
    <%= form.label :building %>
    <%= form.text_field :building %>
  </div>

  <%= form.submit %>
<% end %>
