<%= form_with(model: @parent, local: true ,url: choose_new_or_edit) do |form| %>
  <div class="parent_relation">
    <%= form.label :relation %>
    <%= form.select :relation, [["父", "父"], ["母", "母"], ["その他", "その他"]], include_blank: "選択して下さい" %>
  </div>
  <div class="parent_other_relation">
    <%= form.label :other_relation %>
    <%= form.text_field :other_relation %>
  </div>
  <div class="parent_phone_number">
    <%= form.label :phone_number %>
    <%= form.telephone_field :phone_number %>
  </div>
  <div class="parent_postal_code">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>
  <div class="parent_prefecture">
    <%= form.label :prefecture %>
    <%= form.text_field :prefecture %>
  </div>
  <div class="parent_city">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>
  <div class="parent_adress">
    <%= form.label :adress %>
    <%= form.text_field :adress %>
  </div>
  <div class="parent_building">
    <%= form.label :building %>
    <%= form.text_field :building %>
  </div>
  <div class="parent_image">
    <%= form.label :image %>
    <%= image_tag(@child.image.url) if @child.image && @child.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <%= form.submit %>
<% end %>
