<h1>保護者情報詳細画面</h1>

<% @parent.names.each do |name| %>
<p><%= t('view.family_name') %>: <%= name.family_name %></p>
<p><%= t('view.first_name') %>: <%= name.first_name %></p>
<p><%= t('view.family_name_kana') %>: <%= name.family_name_kana %></p>
<p><%= t('view.first_name_kana') %>: <%= name.first_name_kana %></p>
<% end %>

<p><%= t('view.relation') %>: <%= @parent.relation %></p>
<p><%= t('view.phone_number') %>: <%= @parent.phone_number %></p>
<p><%= t('view.postal_code') %>: <%= @parent.postal_code %></p>
<p><%= t('view.prefecture') %>: <%= @parent.prefecture %></p>
<p><%= t('view.city') %>: <%= @parent.city %></p>
<p><%= t('view.adress') %>: <%= @parent.adress %></p>
<p><%= t('view.building') %>: <%= @parent.building %></p>
<p class="show_image"><strong><%= t('view.image') %>:</strong></p>
<p><%= image_tag @parent.image.url %></p>
<%= link_to "お子様情報入力欄へ", new_child_path %>
<%= link_to "一覧へ戻る", reservations_path %>
