<div class="container-login">
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, t('view.error')) %></h2>

    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%# admin/users_controllerにformwithのデータを送る %>
  <%= form_with(model:[:admin, @user], local: true) do |f| %>

  <div class="form-group">
    <%= f.label :email %>

    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="user_type">
    <%= f.label :user_type %>
    <%= f.select :user_type, [["保護者", "保護者"], ["窓口担当者", "窓口担当者"], ["保育士", "保育士"]], { include_blank: "選択して下さい"} , { class: 'custom-select' } %>
  </div>

  <div class="custom-control, custom-checkbox">
    <%= f.check_box :admin,  class: "custom-control-input" %>
    <%= f.label :admin, "管理者権限", class: "custom-control-label" %>
  </div>

  <div class="form-group">
    <%= f.submit "登録", class: "btn btn-primary btn-block" %>
  </div>
  <% end %>
</div>
