<!DOCTYPE html>
<html>
<head>
  <title>SafeKids</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="header">あんしんキッズ</header>
  <% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
  <% end %>
  <article class="col-sm-12 col-md-offset-1 col-md-10">
  <%= yield %>
  </article>
</body>
</html>
