<!DOCTYPE html>
<html>
<head>
  <title>SafeKids</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag    'application' %>
  <%= javascript_pack_tag    'application' %>
</head>

<body>
  <!-- <header class="header">あんしんキッズ</header> -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; fixed-top">
    <%= link_to "あんしんキッズ", reservations_path, class: "navbar-brand" %>
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
      </li>
      <% end %>
      <% if current_user.try(:admin?)%>
      <li class="nav-item">
        <%= link_to "管理者画面へ", admin_users_path, class: "nav-link" %>
      </li>
      <% end %>
      <li class="nav-item">
        <%= link_to '予約する', new_reservation_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'マイページ', user_path(current_user.id), class: "nav-link" %>
      </li>
    </ul>
  </nav>
  <article col-4 mx-auto text-center">
    <div class="text-center">
      <%= yield %>
    </div>
  </article>
</body>
</html>
